<apex:page id="CommunityInMaintenance" standardStylesheets="false" sideBar="false" showHeader="false" applyHtmlTag="true" applyBodyTag="false">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>

   <style>
       .centered{
           min-width: 98%;
           position: fixed;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
       }
   </style>
   <!-- this page is displayed when community is under mainatainence that is under inactive -->
   <div class="centered">
       <div class="container-fluid">
           <div class="">
               <h1 class="text-center">The MyGICLink portal is currently unavailable. Please check back soon. We apologize for the inconvenience.</h1>
           </div>
       </div>
   </div>

</apex:page>